.paginaprincipal{
    justify-content: center;
    font-size: xx-large;
    display: flex;
    background-color: brown;
    width: 35%;
    line-height: 50px;
}

button{
    width: 100px;
    font-size: xx-large;
}
