body{
    background-color: aquamarine;
    display: block;
    align-items: center;
    justify-content: center;

}

#indice{
    background-color: aliceblue;
    display: flexbox;
    align-items: right;
    justify-content: center;
}
.caixapesquisa{
    background-color: blue;
    width: 500px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.botaoletrasindice{
    display:inline-block;
    padding:10px 20px;
    background:#333;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-family: 'Trebuchet MS';
    font-size: medium;

}    
   
.botaoindice{
    text-decoration: none;     
    display:inline-block;
    padding:10px 20px;
    background:#333;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-family: 'Trebuchet MS';
    font-size: medium;
}    

#glossario{
    display: none;
}
.organizaalfabeto{
    display: flexbox;
    justify-content: center;
    ;
    width: 50%;
}
